<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Ball Prediction</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <style>
    body {
      background-color: #C0C0C0;
      font-family: Arial, sans-serif;
    }
  </style>
</head>

<body style="background-image: inherit">
<br>
<h1 style="text-align: center">Upload your photo to get a ball prediction</h1>
<br>
<h3 style="margin-left: 10px">This service supports only files in "png", "jpeg" and "jpg" formats.</h3>
<div style="margin-left: 10px; font-size: 20px">Welcome to our ball prediction service! We use advanced machine learning models to identify various sport ball categories, including:
  <hr>
  <ul>
    <li class="btn btn-success w-15">American football</li>
    <li class="btn btn-success w-15">Baseball </li>
    <li class="btn btn-success w-15">Basketball</li>
    <li class="btn btn-success w-15">Billiard</li>
    <li class="btn btn-success w-15">Bowling</li>
    <li class="btn btn-success w-15">Cricket</li>
    <li class="btn btn-success w-15">Football</li>
    <li class="btn btn-success w-15">Golf</li>
    <li class="btn btn-success w-15">Hockey Ball</li>
    <li class="btn btn-success w-15">Hockey puck</li>
    <li class="btn btn-success w-15">Rugby</li>
    <li class="btn btn-success w-15">Shuttlecock</li>
    <li class="btn btn-success w-15">Table tennis</li>
    <li class="btn btn-success w-15">Tennis</li>
    <li class="btn btn-success w-15">Volleyball</li>
  </ul>
</div>
  <hr>
  <form action="/classify" method="post" enctype="multipart/form-data">
    <label for="image" style="margin-left: 10px; font-size: 20px">Upload an image from your device:</label>
    <input type="file" name="image" id="image">
    <input type="submit" class="btn btn-primary" value="Get Prediction">
  </form>
</body>
</html>
